[submodule "Macarons/vendor/spdlog"]
	path = Macarons/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Macarons/vendor/libgit2"]
	path = Macarons/vendor/libgit2
	url = https://github.com/libgit2/libgit2
[submodule "Macarons/vendor/yaml-cpp"]
	path = Macarons/vendor/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp/
[submodule "Sandbox/vendor/clipp"]
	path = Sandbox/vendor/clipp
	url = https://github.com/muellan/clipp
