[submodule "Macarons/vendor/spdlog"]
	path = Macarons/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Macarons/vendor/libgit2"]
	path = Macarons/vendor/libgit2
	url = https://github.com/libgit2/libgit2
